// /* COLORS */
$color-primary: #2f3061;
$color-secondary: #a9ddf5;
$color-tertiary: #e2c938;
$color-light: white;

// /* FONTS */
$font-basic: Roboto, Arial, sans-serif;
$font-emphatic: 'Bangers', cursive;

/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1200px;
