.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-title {
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 40px auto;
    @include tablet {
        font-size: 100px;
        margin: 80px auto;
    }
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        margin-bottom: 20px;
        background-color: white;
        border: none;
        border-radius: 1px;
        text-align: center;
        padding: 9px 5px;
        color: #2f3061;
        width: 250px;
    }
    &__button {
        font-weight: 800;
        background-color: #6ca6c1;
        color: #2f3061;
        border-radius: 6px;
        padding: 5px 0;
        width: 100px;
        border: none;
        cursor: pointer;
    }
    ::placeholder {
        color: #6ca6c1;
        opacity: 0.6;
    }
}
