.main {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    .favs-list__container {
        @include desktop {
            width: 20%;
        }
    }

    .favs-list__container {
        @include desktop {
            width: 60%;
        }
    }
}

.favs-list__container {
    display: flex;
    flex-direction: column;

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
    }

    & li {
        margin: 15px;
    }

    & h2 {
        font-family: 'Bangers', cursive;
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 2px;
    }
}

.favs-list__container,
.results-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
    }

    & li {
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
    }

    & h2 {
        font-family: 'Bangers', cursive;
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 2px;
    }
}

.favs-list__delete-button {
    border: 1px solid #e2c938;
    color: #e2c938;
    background-color: #2f3061;
    width: 150px;
    border-radius: 6px;
    padding: 8px 0;
    cursor: pointer;

    & span {
        color: #e2c938;
    }
}

.yellow-background {
    background-color: #e2c938;
    h3 {
        color: #2f3061;
    }
}

.hidden {
    opacity: 0;
}

.fa {
    color: #e2c938;
}
