html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: inherit;
}

.body {
    background-color: $color-primary;
    height: 100vh;
}

* {
    font-family: $font-basic;
    color: $color-secondary;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}
